.body {
  background-color: bisque;
}

.heading {
  margin-top: 175px;
  text-align: center;
  font-size: 3opx;
  color: black;
}

#country-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
  background-color: bisque;
  border: 3px solid black;
}

.country {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.country-info {
  list-style: none;

  display: inline-block;
  margin: auto;
  text-align: left;
  font-size: 25px;
}

.div-list {
  vertical-align: center;
}

.languages-list {
  list-style-position: inside;
}

.country-name {
  font-size: 40px;
}

.country-list {
  text-align: center;
  list-style: inside;
  font-size: 20px;
  list-style: none;
}
